body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
}

.header {
    background-color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative; /* Remove absolute positioning */
}

.header h1 {
    font-size: 24px;
    color: #000000;
    z-index: 1;
    font-family: 'Helvetica', sans-serif;
}

.header img {
    max-height: 750%;
    max-width: 750%;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #1A6C70;
}

.nav a {
    padding: 14px 20px;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.nav a:hover {
    background-color: #2FBEB2;
}

.content {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e1f3e1;
    border-radius: 10px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #000;
    font-size: 18px;
    line-height: 1.6;
    font-style: italic;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.btn-container {
    margin-top: 20px;
}

.btn-container a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #00703c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-container a:hover {
    background-color: #005728;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #00A69C;
    color: #fff;
}

/* Add animation for buttons */
.nav a {
    position: relative;
}

.nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.nav a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Add animation for site loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #00A69C;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Responsive design for large screens */
@media screen and (min-width: 1024px) {
    .header {
        height: 250px;
    }
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .header {
        height: 150px;
    }
    .nav {
        flex-wrap: wrap;
    }
    .nav a {
        flex-basis: 50%;
        padding: 14px 10px;
    }
}
